@model HELP.Service.ViewModel.Contact.RecordModel
<div class="container">
    <div class="row">
        <div class="col-xs-3"><label>QQ：</label></div>
        <div class="col-xs-9">@Model.QQ</div>
    </div>
    <div class="row">
        <div class="col-xs-3"><label>微信：</label></div>
        <div class="col-xs-9">@Model.WeChat</div>
    </div>
    <div class="row">
        <div class="col-xs-3"><label>电话：</label></div>
        <div class="col-xs-9">@Model.Telephone</div>
    </div>
    <div class="row">
        <div class="col-xs-12"><label>其他：</label></div>
        <div class="col-xs-12">@Model.Other</div>
    </div>
</div>
